*{margin: 0;padding: 0;}

html,body,#container{height: 100%;}

#message{
    background-color: #FFF0A5;
    width: auto;
    height: 25px;
    position: fixed;
    top: 0;
    left: 45%;
    padding: 12px;
    display: none;
}

/* login.html */
.common_form p{
    margin-bottom: 10px;
    margin-top: 10px;
}

.common_form label{
    width: 120px;
    text-align: right;
    float: left;
    margin-right: 5px;
}

/*header*/
#topContent{
    height:80px;
    width: 100%;
    border-bottom: 1px solid #bd3f09;
}

/* 左边菜单的 */
#leftContent{
    float: left;
    width: 220px;
    border-right: 1px solid yellow;
    text-align: right;
    height:100%;
    overflow-y: hidden;
}

#leftContent ul{
    list-style:none;
    line-height:25px;
}

#leftContent a{
    color:#f7f6f0;
    background:#bd3f09;
}

#leftContent .current a{
    color:#993400;
    background: white;
}

/* 右边内容 */

#rightContent{
    float:left;
    height: 100%;
    width: 900px;
}
/*右上子菜单*/
#rightTop{
    height: 50px;
    margin-top: 28px;
    margin-left: 30px;
}

#rightTop ul{
    list-style:none;
    line-height:25px;
}

#rightTop li{
    float:left;
    margin-right: 20px;
}

.basic-button {
    width: 158px;
    height: 38px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    display: table;
    border: 1px solid rgb(0, 84, 163);
    background-color: rgb(61, 136, 204);
    float: none;
    font-style: normal;
}
.basic-button span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: none;
}

/*右下，具体操作的地方*/
#rightBottom{
    height:100%;
    margin-top: 20px;
    margin-left: 30px;
}

/*表格样式,需重新设计 */
.common_table
{
    margin-bottom: 10px;
    width:100%;
    border-collapse:collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.common_table th{
    background-color: #fff;
    height: 30px;
    font-size:13px;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}
.common_table td{
    background-color: #fff;
    height: 15px;
    font-size:13px;
    border:1px solid #98bf21;
    padding:3px 7px 2px 7px;
}
.common_table th
{
    font-size:13px;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#A7C942;
    color:#ffffff;
}

.common_table tr{
    color:#000000;
}
.common_table tr:hover
{
    color:#000000;
    background-color:#EAF2D3;
}
