*{margin: 0;padding: 0;}

html,body,#container{height: 100%;}
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p{ padding: 0; margin: 0; }

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; }
body{text-align:center;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0px;
}

#container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    min-width: 960px;
    max-width: 1440px;
}

/* 前台搜索面CSS*/


/* 后台 */
.kkk{
    min-width: 960px;
    background:url(../image/leftback-1.png);
    background-repeat: repeat-y;
}

#message{
    background-color: #FFF0A5;
    width: auto;
    position: fixed;
    top: 0;
    left: 40%;
    padding: 12px;
    display: none;
}

/* login.html */
.common_form p{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    clear: left;
}

.common_form label{
    width: 120px;
    text-align: right;
    float: left;
    margin-right: 5px;
}

/*header*/
#topContent{
    height:96px;
    position:relative;
    overflow:hidden;
    z-index:10;
    width: 100%;
    border-bottom: 1px solid #bd3f09;
}
#topContent .logo{
    background:url(../image/logo.png) no-repeat;
    width:85px;
    height:85px;
    margin:5px 0 0 62px;
    float:left;  }

#topContent .search {
    background:url(../image/search.png);
    float:right; margin-right:12px;
    width:295px;
    height:35px;
    margin-top:25px;
}

/* 左边菜单的 */
#leftContent{
    background:url(../image/leftback-1.png);
    background-repeat: repeat-y;
    float: left;
    min-width: 213px;
    width:15%;
    padding-bottom: 10px;
}
#leftContent .letop{
    background:url(../image/seting.png) no-repeat;
    margin:10px 0 0 5px;
    height:38px;
}

#leftContent .letop .letit{
    overflow:hidden;
    line-height:38px;
    margin-left:30px;
    color:black;
    font-size:16px;
    font-weight:bold;}

#leftContent ul{
    list-style:none;
    line-height:25px;
}
#leftContent ul li{
}
#leftContent a{
    display: block;
    background:url(../image/bluebackground.png) no-repeat;
    height:47px;
    color:#f7f6f0;
    margin:15px 0 0 15px;
    line-height: 47px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 18px;
}

#leftContent .current a{
    color:  #fc3305;
}

/* 右边内容 */
#rightContent{
    float:left;	overflow:hidden; z-index:1;
}
/*右上子菜单*/
#rightTop{
    width: 100%;
    padding-top: 12px;
    padding-left: 20px;
    height:46px; overflow:hidden;
    background:url(../image/r-top-1.png);
    background-repeat: repeat-x;
}

#rightTop ul{
    list-style:none;
    line-height:25px;
}

#rightTop li{
    float:left;
    margin-right: 15px;
}

.basic-button {
    width: 145px;
    height: 30px;
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 12pt;
    text-decoration: none;
    display: block;
    border: 1px solid rgb(0, 84, 163);
    background-color: #c6d6f6;
    float: none;
    font-style: normal;
}
.basic-button span {
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-shadow: none;
}

/*右下，具体操作的地方*/
#rightBottom{
    height:100%;
    margin-top: 10px;
}

/*表格样式 */
.common_table
{
    margin-bottom: 10px;
    width:100%;
    border-collapse:collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.common_table th{
    height: 25px;
    border:1px solid #b2b2b2;
    font-size:13px;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#176ECE;
    color:#ffffff;
}
.common_table tr td{
    height: 15px;
    font-size:13px;
    border:1px solid #b2b2b2;
    padding:3px 7px 2px 7px;
}


.common_table tr{
    color:#000000;
}
.common_table tr:hover
{
    color:#000000;
    background-color:#EAF2D3;
}

.ui-autocomplete-loading {
    /* background: white url('../Image/ui-anim_basic_16x16.gif') right center no-repeat;  */
}
/*后台各个模块中的搜索框以及搜索结果标签定义*/
.search_ayx{
    width: 300px;
    height: 50px;
    padding: 10px;
    border-color: #b2b2b2;
    background-color:#EAF2D3;
    font-size: 11pt;
    margin-left: 20px;
}
.search_ayx legend{
/*    border: 1px #b2b2b2;*/
background-color: #c6d6f6;
padding: 2px;
color: #000;
}
.search_ayx p{
    height: 40px;
    float:left;
}
.search_ayx p .search_key{
    margin-left: 3px;
    height: 25px;
    border: solid 1px;
}
.search_ayx .subbutton{
    width: 62px;
    height: 27px;
    margin-left: 3px;
    background-image: url(../Image/search-but-1.gif);
    border:solid 1px;
    cursor: pointer;
}
.search_ayx .subbutton1{
    width: 62px;
    height: 27px;
    margin-left: 3px;
    /*background-image: url(../Image/search-but-1.gif);*/
    border:solid 1px;
    cursor: pointer;
}
.search_ayx p select{
    height: 25px;
}
#search_result{
    /*height: 100px;*/
    width: 95%;
    margin-left: 20px;
    margin-top: 20px;
    /*background-color: red;*/
    display: none;
}
.green-black{
    font-size: 10pt;
}
