*{margin: 0;padding: 0;}

html,body,#container{height: 100%;}
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p{ padding: 0; margin: 0; } 

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; } 
body{text-align:center;
     margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#container{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
/* 前台搜索面CSS*/
#wrap{width:955px;  margin:0px auto; overflow:hidden;}

#wrap .bd{height:640px;  background:url(../images/background.png);}

#warp .top{ }

#wrap .top .log {width:85px; height:85px;  background:url(../images/logo.png) no-repeat; margin:15px 0 0 205px; }

#wrap .top .tl{margin-left:105px;  width:510px; height:85px;}

#title{ font-family:微软雅黑; font-size:34px; color:#00619c;line-height:85px; padding-left:25px;}

#search {
	width:800px;
	height:50px;
	margin:45px 0 0 205px;
}

#search .title  { font-size:16px; font-family:微软雅黑; line-height:50px; width:165px; float:left; }

#search .se{ float:left; margin:10px 0 0 15px;}

#search .inputtext { border:1px solid #fff; border-width:1px 0 1px 1px; height:28px; line-height:28px; width:159px; background:                     url(../images/search-bg.gif) no-repeat 5px 3px; padding-left:35px; float:left;   }

#search .inputbutton {  width:74px; height:31px; display:block; background:url(../images/search-but.gif) no-repeat; float:left;}

/* 后台 */









.kkk{
    /*height: 100%;width: 960px;*/
    background:url(../image/leftback-1.png);
    background-repeat: repeat-y;
}


#message{
    background-color: #FFF0A5;
    width: auto;
    height: 25px;
    position: fixed;
    top: 0;
    left: 45%;
    padding: 12px;
    display: none;
}

/* login.html */
.common_form p{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    clear: left;
}

.common_form label{
    width: 120px;
    text-align: right;
    float: left;
    margin-right: 5px;
}

/*header*/
#topContent{
    /*height:80px;*/
    height:96px; position:relative; overflow:hidden; z-index:10px;
    width: 100%;
    border-bottom: 1px solid #bd3f09;
}
#topContent .logo{background:url(../image/logo.png) no-repeat; width:85px; height:85px; margin:5px 0 0 62px; float:left;  }

#topContent .search {background:url(../image/search.png); float:right; margin-right:12px; width:295px; height:35px; margin-top:25px;}

/* 左边菜单的 */
#leftContent{
    /*background:url(../image/leftcontent.png) no-repeat;*/
    /*background-repeat: repeat-y;*/
    background:url(../image/leftback-1.png);
    background-repeat: repeat-y;
    float: left;
    width: 213px;
    /*border-right: 1px solid yellow;*/
    /*text-align: center;*/
    /*height:1000px;*/
/*    overflow-y: hidden;*/
padding-bottom: 10px;
/*border-bottom: solid #b2b2b2;*/
}
#leftContent .letop{ background:url(../image/seting.png) no-repeat; margin:10px 0 0 5px; height:38px; }

#leftContent .letop .letit{overflow:hidden; line-height:38px; margin-left:85px; color:black; font-size:16px; font-weight:bold;}

#leftContent ul{
    list-style:none;
    line-height:25px;
}
#leftContent ul li{
    /*background:url(../image/bluebackground.png) no-repeat; margin:15px 0 0 15px; height:47px; width:175px;*/
}
#leftContent a{
    display: block;
    background:url(../image/bluebackground.png) no-repeat;
    height:47px; width:175px;
    color:#f7f6f0;
    /*padding:15px 0 0 15px;*/
    margin:15px 0 0 15px;
    line-height: 47px;
    text-decoration: none;
    /*margin:15px 0 0 15px;*/
    /*background:#bd3f09;*/
}

#leftContent .current a{
    color:#993400;
    /*background: white;*/
}

/* 右边内容 */

#rightContent{
/*    float:left;
    height: 100%;*/
    width: 745px;
/*width:745px;*/ 
float:left;	overflow:hidden; z-index:1; 
}
/*右上子菜单*/
#rightTop{
/*    height: 50px;*/
   padding-top: 8px;
   padding-left: 20px;
    /*width:746px;*/ 
    height:46px; overflow:hidden;
    background:url(../image/rightcontent-top.png); 
    background-repeat: repeat-x;
}

#rightTop ul{
    list-style:none;
    line-height:25px;
}

#rightTop li{
    float:left;
    margin-right: 20px;
}

.basic-button {
    width: 158px;
    height: 38px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    display: table;
    border: 1px solid rgb(0, 84, 163);
    background-color: rgb(61, 136, 204);
    float: none;
    font-style: normal;
}
.basic-button span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: none;
}

/*右下，具体操作的地方*/
#rightBottom{
    height:100%;
    margin-top: 10px;
    margin-left: 10px;
}

/*表格样式,需重新设计 */
.common_table
{
    margin-bottom: 10px;
    width:100%;
    border-collapse:collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.common_table th{
    background-color: #fff;
    height: 30px;
    font-size:13px;
    border:1px solid #b2b2b2;
    padding:3px 7px 2px 7px;
    font-size:13px;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#b2b2b2;
    color:#ffffff;
}
.common_table tr td{
    /*background-color: #fff;*/
    height: 15px;
    font-size:13px;
    border:1px solid #b2b2b2;
    padding:3px 7px 2px 7px;
}


.common_table tr{
    color:#000000;
}
.common_table tr:hover
{
    color:#000000;
    background-color:#EAF2D3;
}
