*{margin: 0;padding: 0;}

html,body,#container{height: 100%;}

/* 左边菜单的css */
#leftContent{
    float: left;
    width: 220px;
    border-right: 1px solid yellow;
    text-align: right;
    height:100%;
    overflow-y: hidden;
}

#leftContent ul{
    list-style:none;
    line-height:25px;
}

#leftContent a{
    color:#f7f6f0;
    background:#bd3f09;
}

#leftContent .current a{
    color:#993400;
    background: white;
}

/* 右边内容 */
#rightContent{
    float:left;
    height: 100%;
}

#rightTop{
    height: 50px;
    margin-top: 28px;
    margin-left: 30px;
}

#rightTop ul{
    list-style:none;
    line-height:25px;
}

#rightTop li{
    float:left;
    margin-right: 20px;
}

/*#rightTop a{
    color:white;
    background:#ff66cc;
}

#rightTop .current a{
    color:black;
    background: white;
}*/

.basic-button {
    width: 158px;
    height: 38px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    font-family: arial;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    display: table;
    border: 1px solid rgb(0, 84, 163);
    background-color: rgb(61, 136, 204);
    float: none;
    font-style: normal;
}
.basic-button span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: none;
}

#rightBottom{
    height:100%;
    margin-top: 20px;
    margin-left: 30px;
}

/* login.html */
.loginform p{
    margin-bottom: 10px;
    margin-top: 10px;
}

label{
    width: 100px;
    text-align: right;
    float: left;
}