*{margin: 0;padding: 0;}

html,body,#container{height: 100%;}
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p{ padding: 0; margin: 0; }

h1,h2,h3,h4,h5,h6 { font-weight: normal; font-size: 100%; }
body{text-align:center;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0px;
}

#container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    min-width: 960px;
    max-width: 1440px;
}

/* 前台搜索面CSS*/
#wrap{width:955px;  margin:0px auto; overflow:hidden;}

#wrap .bd{height:640px;  background:url(../images/background.png);}

#warp .top{ }

#wrap .top .log {width:85px; height:85px;  background:url(../images/logo.png) no-repeat; margin:15px 0 0 205px; }

#wrap .top .tl{margin-left:105px;  width:510px; height:85px;}

#title{ font-family:微软雅黑; font-size:34px; color:#00619c;line-height:85px; padding-left:25px;}

#search {
    width:800px;
    height:50px;
    margin:45px 0 0 205px;
}

#search .title  { font-size:16px; font-family:微软雅黑; line-height:50px; width:165px; float:left; }

#search .se{ float:left; margin:10px 0 0 15px;}

#search .inputtext { border:1px solid #fff; border-width:1px 0 1px 1px; height:28px; line-height:28px; width:159px; background:                     url(../images/search-bg.gif) no-repeat 5px 3px; padding-left:35px; float:left;   }

#search .inputbutton {  width:74px; height:31px; display:block; background:url(../images/search-but.gif) no-repeat; float:left;}

/* 后台 */
.kkk{
    min-width: 960px;
    background:url(../image/leftback-1.png);
    background-repeat: repeat-y;
}

#message{
    background-color: #FFF0A5;
    width: auto;
    position: fixed;
    top: 0;
    left: 45%;
    padding: 12px;
    display: none;
}

/* login.html */
.common_form p{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    clear: left;
}

.common_form label{
    width: 120px;
    text-align: right;
    float: left;
    margin-right: 5px;
}

/*header*/
#topContent{
    height:96px;
    position:relative;
    overflow:hidden;
    z-index:10;
    width: 100%;
    border-bottom: 1px solid #bd3f09;
}
#topContent .logo{
    background:url(../image/logo.png) no-repeat;
    width:85px;
    height:85px;
    margin:5px 0 0 62px;
    float:left;  }

#topContent .search {
    background:url(../image/search.png);
    float:right; margin-right:12px;
    width:295px;
    height:35px;
    margin-top:25px;
}

/* 左边菜单的 */
#leftContent{
    background:url(../image/leftback-1.png);
    background-repeat: repeat-y;
    float: left;
    min-width: 213px;
    width:15%;
    padding-bottom: 10px;
}
#leftContent .letop{
    background:url(../image/seting.png) no-repeat;
    margin:10px 0 0 5px;
    height:38px;
}

#leftContent .letop .letit{
    overflow:hidden;
    line-height:38px;
    margin-left:30px;
    color:black;
    font-size:16px;
    font-weight:bold;}

#leftContent ul{
    list-style:none;
    line-height:25px;
}
#leftContent ul li{
}
#leftContent a{
    display: block;
    background:url(../image/bluebackground.png) no-repeat;
    height:47px;
    color:#f7f6f0;
    margin:15px 0 0 15px;
    line-height: 47px;
    text-decoration: none;
    font-weight: bold;
    padding-right: 18px;
}

#leftContent .current a{
    color:  #fc3305;
}

/* 右边内容 */
#rightContent{
    float:left;	overflow:hidden; z-index:1;
}
/*右上子菜单*/
#rightTop{
    width: 100%;
    padding-top: 12px;
    padding-left: 20px;
    height:46px; overflow:hidden;
    background:url(../image/r-top-1.png);
    background-repeat: repeat-x;
}

#rightTop ul{
    list-style:none;
    line-height:25px;
}

#rightTop li{
    float:left;
    margin-right: 20px;
}

.basic-button {
    width: 158px;
    height: 30px;
    color: rgb(0, 0, 0);
    font-family: arial;
    font-size: 12pt;
    text-decoration: none;
    display: block;
    border: 1px solid rgb(0, 84, 163);
    background-color: #c6d6f6;
    float: none;
    font-style: normal;
}
.basic-button span {
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-shadow: none;
}

/*右下，具体操作的地方*/
#rightBottom{
    height:100%;
    margin-top: 10px;
    /*margin-left: 5px;*/
    /*margin-right: 5px;*/
}

/*表格样式 */
.common_table
{
    margin-bottom: 10px;
    width:100%;
    border-collapse:collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.common_table th{
    height: 25px;
    border:1px solid #b2b2b2;
    padding:3px 7px 2px 7px;
    font-size:13px;
    padding-top:5px;
    padding-bottom:4px;
    background-color:#b2b2b2;
    color:#ffffff;
}
.common_table tr td{
    height: 15px;
    font-size:13px;
    border:1px solid #b2b2b2;
    padding:3px 7px 2px 7px;
}


.common_table tr{
    color:#000000;
}
.common_table tr:hover
{
    color:#000000;
    background-color:#EAF2D3;
}

.ui-autocomplete-loading {
    /* background: white url('../Image/ui-anim_basic_16x16.gif') right center no-repeat;  */
}